@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-livvic: var(--font-livvic);

  /* Brand Colors */
  --color-primary: #a6b37d;
  --color-primary-dark: #8c9868;
  --color-secondary: #fefae0;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-livvic);
}
